.reservation__btn{
	background: linear-gradient(160deg, $color-secondary, $color-primary);
 	color: white;
 	border-radius: 50px;
 	padding: 18px 25px;
 	font-weight: bold;
 	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
 	transition: filter 300ms, box-shadow 300ms 100ms; 

 		&:hover{
 		filter: brightness(120%);
 		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
 		}
	}

.commande{
	@include flex;
	width: 100%;

	&__btn{
	background: linear-gradient(160deg, $color-secondary, $color-primary);
 	color: white;
 	border-radius: 50px;
 	padding: 15px 45px;
 	position: relative;
 	font-weight: bold;
 	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
 	transition: filter 300ms, box-shadow 300ms 100ms;

 		&:hover{
 		filter: brightness(120%);
 		box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
 		}
	}
}