@media screen and (min-width: 993px) {

header img{
	width: 300px;
}

.fonctionnement {
	margin: 0;

	& ul{
	flex-direction: row;
	padding: 20px 0 0 30px;

		& li{
		margin-right: 30px;
		}
	}
	
}

.menu__article{
	width: 26%;
	margin: 0 40px 10px;

	&_text{
	width: 110%;
	}
}

.restaurants{
	padding: 30px 10px;

	&__cards{
	flex-wrap: unset;
	}
}

.commande__btn{
	padding: 25px 45px;
}

.footer{
	flex-direction: unset;
	padding: 30px;

	&__logo{
	padding: 0;

		& img{
		height: 27px;
		width: 130px;
		}
	}

	& ul{
	display: flex;
		& li{
		padding: 0;
		margin-right: 50px;
		}
	}
}

}

@media screen and (min-width: 768px) and (max-width: 992px) {
	
.restaurants__lien {
	width: 45%;
}

	
.footer{
	flex-direction: unset;
	padding: 30px;

	&__logo{
	padding: 0;

	& img{
		height: 27px;
		width: 130px;
		}
	}

	& ul{
	display: flex;
		& li{
		padding: 0;
		margin-right: 13px;
		font-size: 16px;
		}
	}
}

}